<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DG angular init oldala</title>
    <!--<link rel="stylesheet" href="sanyidg.css"/>-->
</head>
<body ng-controller="myController">

    <input ng-model="stringInput" placeholder="Enter a String">
    <input ng-model="numberInput"  placeholder="Enter a Number">
    <button ng-click="repeatString()">Click</button>

</body>


<script src="../node_modules/angular/angular.min.js" ></script>
<script src="js/myApp.js" ></script>
</html>